{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Nouvelle sortie
{% endblock %}


{% block body %}
    <div class="rowToColumnSmartphone">
        <div>
            <div class="container-btn">
                <button><a href='{{ path('places_create') }}'>Ajouter un lieu</a></button>
            </div>
            {% embed 'views/form/template-form.html.twig' with { form : eventForm} %}
                {% block formTitle %}Création d'une sortie{% endblock %}

                {% block body %}

                {% endblock %}

                {% block buttonLabel %}Valider{% endblock %}

            {% endembed %}
        </div>
        <div class="container-illustration sticky-illustration">
            <img class="illustration" src="{{ asset('images/popcorn-eating-racoon.png') }}" alt="popcorn eating racoon">
        </div>
    </div>
{% endblock %}
