{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annuler la sortie : {{ event.name }}</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <div class="container-btn">
        <button>Confirmer l'annulation</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
