{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}


{% block body %}

    {% embed 'views/form/template-form.html.twig' with { form : eventform} %}
        {% block formTitle %}Création d'une sortie{% endblock %}
        {% block buttonLabel %}Valider{% endblock %}
    {% endembed %}
    <div class="container-illustration">
        <img src="{{ asset('images/video-gaming-red-panda.png') }}" alt="gaming red panda">
    </div>

{% endblock %}
