{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}


{% block body %}

    <div class="rowToColumnSmartphone">
        <div>
            {% embed 'views/form/template-form.html.twig' with { form : eventform} %}
                {% block formTitle %}Création d'une sortie{% endblock %}
                {% block buttonLabel %}Valider{% endblock %}
            {% endembed %}
        </div>
        <div class="container-illustration sticky-illustration">
            <img src="{{ asset('images/video-gaming-red-panda.png') }}" alt="gaming red panda">
        </div>
    </div>
{% endblock %}
