{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - CGU
{% endblock %}

{% block body %}
    <h1>Conditions Générales d'Utilisation</h1>
    <section>
        <p>Le site décline toute responsabilité en cas d'inscription à un évènement effectuée un lundi matin avant
            le café, tard le soir sous l'effet du FOMO, ou après avoir confondu "afterwork détente" avec
            "soirée déguisée". Aucune excuse ne sera acceptée en cas de clic impulsif ou compulsif.</p>
        <p>Les utilisateurs du site s'engagent à assumer pleinement le choix de leur photo de profil.</p>
        <p>Le site ne pourra être tenu responsable du comportement des organisateurs d'évènements, notamment :
            reports de dernière minute pour "raisons familiales", changements de lieu imprévus ("le bar est fermé,
            on va au kebab ?"), ou modifications du programme ("on rajoute un karaoké, surprise !"). </p>
        <p>Le site décline toute responsabilité en cas d'indisponibilité temporaire. En cas de problème persistant,
            l'utilisateur s'engage à : vider son cache, redémarrer son routeur et attendre 5 minutes avec un thé.
            Les tickets d'assistance technique pour "mon chat a marché sur le clavier" ne seront pas prioritaires.
        </p>
    </section>
    <div class="container-illustration">
        <img src="{{ asset('images/smiling-red-panda-coffee-heart.png') }}" alt="coffee drinking red panda">
    </div>
{% endblock %}



