{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block body %}
    {% if not app.user %}
    <h2>Pour continuer sur le site, veuillez vous connecter :</h2>
    <button><a href="{{ path('app_login') }}">Se connecter</a></button>
    {% else %}
    <h2>Bienvenue, consultez la liste des évènements disponibles :</h2>
    <button><a href="{{ path('events_list') }}">Evènements</a></button>
{% endif %}
{% endblock %}



