{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block body %}
    <div class="main-body">
        <img src="{{ asset('images/Mes-Merveilleuses-aventures-titre-personnages.png') }}" alt="bienvenue">
    {% if not app.user %}

    <h2>Pour continuer sur le site, veuillez vous connecter :</h2>
    <button class="btn"><a href="{{ path('app_login') }}">Se connecter</a></button>
    {% else %}
        <h1>Bienvenue !</h1>
    <h2>Consultez la liste des évènements disponibles :</h2>
        <a href="{{ path('events_list') }}"><button>EVENEMENTS</button></a>
{% endif %}
    </div>
{% endblock %}



