{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block body %}
<h2>Pour continuer sur le site, veuillez vous connecter :</h2>
    <button><a href="{{ path('app_login') }}">Se connecter</a></button>
{% endblock %}



