{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Mentions légales
{% endblock %}

{% block body %}
    <div class="bandeau">Ce site et tous ses contenus sont fictifs et à visée purement pédagogique</div>
    <h1>Mentions légales</h1>
    <section>
        <p>Ce site est édité par l'association fictive MMA, au capital de 5 euros et située au 8, rue Léo Lagrange
            35131 CHARTRES-DE-BRETAGNE</p><br>
        <p>Directeur de la publication : Madame Grace Hopper - contact : contact-mma@eni.fr</p><br>
        <p>Le site Internet <a href="">https://mesmerveilleusesaventures.com</a> (nommé ci-après le Site) est la
            propriété exclusive de l'association fictive MMA.</p>
        <h2>Hébergement</h2>
        <p>Ce Site est hébergé par la société o5switch, 555 Boulevard Gustave Flaubert 63000 Clermont-Ferrand,
            Capital de 100000 euros, Siret : 510 555 555 00026</p>
        <h2>Crédits photographiques</h2>
        <p>
            Merci à la talentueuse infographiste <a target="_blank" rel="noopener noreferrer external"
                                                    href="https://fr.freepik.com/auteur/catalyststuff">Catalyststuff</a> qui a
            permis d'illustrer le site.</p>
        <h2>Utilisation des données personnelles</h2>
        <p>Conformément au Règlement Général sur la Protection des Données (RGPD), nous vous informons que des
            données personnelles sont susceptibles d'être collectées sur ce site : nom, prénom, adresse e-mail,
            pseudo, numéro de téléphone, photo de profil et mot de passe. Ces informations sont
            nécessaires pour interagir avec le site. Elles sont conservées le temps
            strictement nécessaire à la gestion de la demande.</p><br>
        <p>Les données ne sont transmises à aucun tiers et ne sont pas utilisées à des fins commerciales.</p>
        <p>Conformément aux articles 15 à 22 du RGPD, vous pouvez demander à consulter, rectifier ou supprimer vos
            données personnelles à tout moment en nous contactant à l'adresse suivante :
            contact-mma@eni.fr</p>
        <h2>Cookies</h2>
        <p>Le site utilise uniquement des cookies strictement nécessaires au fonctionnement du site, sans suivi
            publicitaire ou de profilage.</p>
        <p>Aucun cookie tiers n'est actuellement utilisé.</p>
        <h2>Modifications</h2>
        <p>Ces mentions légales peuvent être modifiées à tout moment, notamment en cas de mise en ligne effective du
            site ou de changement de traitement des données.</p>
    </section>
    <img src="{{ asset('images/reading-book-red-panda.png') }}">
{% endblock %}



