<footer>
    <nav>
        <ul>
            <li><a href="{{ path('main_cgu') }}">CGU</a></li>
            <li><a href="{{ path('main_mentionsLegales') }}">Mentions légales</a></li>
        </ul>
    </nav>
    <p>&copy; Sortir.com - {{ 'now' | date('Y') }}</p>
</footer>
