<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a>Créer une sortie</a></li>
        <li><a href="{{ path('user_update') }}">Voir mon profil</a></li>
        <li><a href="{{ path('app_login') }}">Login</a></li>
        <li><a href="{{ path('app_logout') }}">Logout</a></li>
    </ul>
</nav>
