<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a>Créer une sortie</a></li>
        <li><a>Voir mon profil</a></li>
        <li><a>Login</a></li>
        <li><a>Logout</a></li>
    </ul>
</nav>
