body {
    background-color: rgb(188, 180, 264, 100);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main{
    min-height: 90vh;
}

.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p{
    text-align: center;
}

.display-row, .rowToColumnSmartphone{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-start;
}

.logo{
    margin: 5px;
    max-height: 150px;
}

nav{
    justify-content: center;
}

.flash-success{
    background-color: #79E8B3;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    width: fit-content;
}

h1{
    /*font-family: "Coiny", system-ui;*/
    font-family: "Cherry Bomb One", system-ui;
}

h2{
    /*font-family: "Coiny", system-ui;*/
    font-family: "Cherry Bomb One", system-ui;
}

img {
    max-width: 300px;
    margin: 25px;
}

.container-illustration{
    display: flex;
    justify-content: center;
}

img .illustration{
    margin: auto;
}

a{
    color: #2D3138;
    text-decoration: none;
}

a:hover{
/*font-weight: bolder;*/
    color: deeppink;
}

.container-btn{
    display: flex;
    justify-content: center;
    margin:20px;
}

button{
    /*appearance: none;*/
    /*border: none;*/
    /*background-color: rgba(103, 233, 255, 100);*/
    /*color: #2D3138;*/
    /*box-shadow: 5px 5px 15px rgba(85, 85, 85, 100);*/
    /*width: fit-content;*/
    /*margin: auto;*/
    /*font-family: "Coiny", system-ui;*/
    color: #2D3138;
    padding: 15px 25px;
     background-color: #38D2D2;
    /*background-color: #ff751f;*/
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0 3px 9px rgba(255, 255, 255, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.6), inset 0 -8px 36px rgba(0, 0, 0, 0.3), inset 0 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

button:hover{
    /*background: linear-gradient(135deg, rgba(103, 233, 255, 100), rgb(11, 178, 205));*/
    background-color: #04b8b8;
}



.container-form{
    display: flex;
    flex-direction: row;
    gap:50px;
    max-width: 1200px;
    margin: 40px auto;
    align-items: center;
}

.container-date{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.container-checkbox{
    display:flex;
    flex-direction:column;
    justify-content: left
}

.container-label-item{
    display:flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}

input[type="checkbox"]{
    display: flex;
    flex-direction: column;
}

table{
    box-shadow: 5px 5px 15px rgba(85, 85, 85, 100);
    border-radius: 15px;
    font-size: 1rem;
}

table th{
    /*background-color: rgb(255, 239, 190);*/
    background-color: #79E8B3;
}


table a:hover{
    font-weight: normal;
    color: deeppink;
}

table th:first-child {
    border-top-left-radius: 15px;
}
table th:last-child {
    border-top-right-radius: 15px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

@media screen and (max-width: 768px){
    .noSmartphone{
display: none;
    }

    .rowToColumnSmartphone{
        flex-direction: column;
    }
}

