{% extends 'base.html.twig' %}

{% set previousUrl = app.request.headers.get('referer') %}

{% block title %}
    {{ parent() }} - page introuvable
{% endblock %}

{% block body %}
    <div class="main-body">
        <h2>Hum, hum... Pas de sortie ici</h2>
        <img src="{{ asset('images/wondering-red-panda.png') }}" alt="questioning red panda">
        <p>il semble que la ressource demandée n'existe pas.</p>
        <p>Il vaut mieux faire demi-tour ou retourner sur la page d'accueil :</p>
        <div>
            {% if previousUrl %}
                <a href="{{ previousUrl }}">
                    <button>page précédente</button>
                </a>
            {% endif %}
            <a href="{{ path('main_home') }}">
                <button>accueil</button>
            </a>
        </div>
    </div>
{% endblock %}
