{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Mise à jour du profil
{% endblock %}

{% block body %}
{{ form_start(ProfileType) }}
    {{ form_widget(ProfileType) }}
    <button>Modifier</button>
    {{ form_end(ProfileType) }}
{% endblock %}



